doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        h1= title
        p Welcome to #{title}
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/backbone-min.js')
    script(src='/javascripts/test.js')